
.container-edit-manager{
    display: flex;
    justify-content: center;
}

.container-edit-manager-window{
    margin-top: 30px;
    width: 400px;
}


.input-container {
    position: relative;
    margin: 20px 0;
}
.select-form{
    margin-bottom: 15px;
}
.select-form-child{
    height: 45px;
    width: 100%;
    background-color: #121212;
    border: 1px solid #7f7f7f;
    color: #F3F1F1;
}
