.container-add-manager{
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    margin: 50px;
}

.container-add-manager-window{
    border: 1px solid #DFBF5E;
    width: 400px;
    height: 350px;
}